:root {
  --surface-dark: #171717;
  --surface-regular: #212121;
  --surface-gray: #454545;
  --surface-light: #e7e7e7;

  --text-light: #e7e7e7;
  --text-gray: #6c6d6f;
  --text-dark: #171717;
  
  --success: #29bb81;
  --warning: #bbaf29;
  --error: #bb2929;
}